MONGO_URI_USER=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/user-db?retryWrites=true&w=majority
MONGO_URI_EVENT=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/event-db?retryWrites=true&w=majority
MONGO_URI_BOOKING=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/booking-db?retryWrites=true&w=majority
MONGO_URI_PAYMENT=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/payment-db?retryWrites=true&w=majority
MONGO_URI_NOTIFICATION=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/notification-db?retryWrites=true&w=majority

JWT_SECRET=your-secret-key-minimum-32-characters

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=yourgmailappassword