spring.application.name=event-service
server.port=8082

spring.data.mongodb.uri=${MONGO_URI_EVENT}
spring.jackson.serialization.write-dates-as-timestamps=false
jwt.secret=${JWT_SECRET}
springdoc.api-docs.enabled=true
springdoc.swagger-ui.path=/swagger-ui.html